# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Output files
*.log

# Directories
Release/
Debug/
**/.settings/

# Eclipse/VS project files
**/.cproject
**/.project
*.sdf
*.suo
*.psess
*.vcxproj.user
*.vcxproj.filters
*.vsp
*.stackdump
*.tlog
*.*db
*.ilk

# *.sln
# *.vcxproj




